.container {
padding-top: 20px;
}

.contact-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.form-field {
width: 80%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.submit-btn
{
  background-color: rgb(66, 225, 66);
}

.cancel-btn
{
  text-decoration: underline;
}

